@model HrSystem.Models.EmployeeViewModel

@{ ViewData["Title"] = "Index"; }

<h2>Index</h2>

<p>
    <button class="btn btn-primary" onclick="NewEmployee();">Create New</button>
</p>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.First_Name_En)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>}
    </tbody>
</table>
@*here the popup model*@
<div id="form-modal" class="modal fade" tabindex="-1" aria-hidden="true" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="EmployeeContent" class="modal-body">

            </div>
        </div>
    </div>
</div>
@*here the popup model*@

<script>
    function NewEmployee() {
        $.ajax({

            url: '@Url.Action("Create", "Employee")',
            datatype: "text",
            type: "Get",
            success: function (data) {
                $('#EmployeeContent').html(data);
                $('#form-modal').modal('show');
            },
        });
    }
</script>