@model HrSystem.Models.EmployeeViewModel

@{ 
    Layout = "~/Views/Shared/_Layout_ar.cshtml";
    ViewData["Title"] = "Index"; }

<h2>الموظفين</h2>

<p>
    <a asp-action="Create">اضافة جديد</a>
</p>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.First_Name_En)
    </td>
    <td>
        @Html.ActionLink("تعديل", "Edit", new { id = item.Id }) |
        @Html.ActionLink("تفاصيل", "Details", new { id = item.Id }) |
        @Html.ActionLink("حذف", "Delete", new { id = item.Id })
    </td>
</tr>
}
    </tbody>
</table>
