@model HrSystem.Models.DepartmentViewModel

@{ Layout = "~/Views/Shared/_Layout_ar.cshtml";
                ViewData["Title"] = "Index"; }


<div class="alert-success modal-title text-center">
    <h2>الاقسام</h2>
</div>
<hr />
<p>
    <a class="btn btn-primary" asp-action="Create">اضافة جديد</a>
</p>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                المعرف
            </th>
            <th>
                الاسم انجليزي
            </th>
            <th>
                الاسم عربي
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Departments)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name_En)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name_Ar)
    </td>
    <td>
        @Html.ActionLink("تعديل", "Edit", new { id = item.Id }) |
        @Html.ActionLink("تفاصيل", "Details", new { id = item.Id }) |
        @Html.ActionLink("حذف", "Delete", new { id = item.Id })
    </td>
</tr>
}
    </tbody>
</table>
